
<html>
    <head>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/style.css" type="text/css" media="all" charset="UTF-8" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>     
        <script type="text/javascript">

            var xmlhttp;

            // Are we using a modern browser or ...
            if (window.XMLHttpRequest) {
              // code for IE7+, Firefox, Chrome, Opera, Safari
              xmlhttp=new XMLHttpRequest();
            } else {
              // code for IE6, IE5
              xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }

            function GetItems()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                    var jsonobj = JSON.parse(xmlhttp.responseText);
                        document.getElementById("project").innerHTML = jsonobj.project.slice(18);
                        document.getElementById("culprits").innerHTML = jsonobj.culprits;
                        document.getElementById("build_num_value").innerHTML = jsonobj.build_num;
                        document.getElementById("last_execute_time_value").innerHTML = jsonobj.last_execute_time;
                        document.getElementById("code_coverage_value").innerHTML = jsonobj.code_coverage.toPrecision(3);
                        document.getElementById("body").style.background = jsonobj.status;

                        barpercent = jsonobj.code_coverage.toPrecision(3) + '%';
                        $("#bar").css('width',barpercent);
                        $(".progress-label").css("-webkit-text-stroke-color",jsonobj.status);
              }
            }

            xmlhttp.onload = GetItems;
            // send the request in an async way
            projects={{ simple_jobs|safe }};

            current_project=0;
            setInterval(
                function()
                {
                    if (projects.length == current_project){
                        current_project = 0;
                    }
                    xmlhttp.open("GET", "/data_project/" + projects[current_project], true);
                    xmlhttp.send();
                    current_project ++;
                }, 10000);

        </script>
    </head>

    <body id="body" style="color: #ffffff; font-family: stratio; background: #FF550E">
        <div class="block_up" id="project_block">
            <h1 id="project">${project}</h1>
            <h5 id="culprits">${culprits}</h5>
        </div>
            <div class="block_down">
                <div id="build_num">
                    <i class="fa fa-tasks"></i>
                    <span id="build_num_value" style="margin-right: 20%">${build_num}</span>
                </div>
                <div id="code_coverage">
                    <div id="progressbar">
                        <div id="bar">
                            <div class="progress-label" id="code_coverage_value">${code_coverage}%</div>
                        </div>
                    </div>
                </div>
                <div id="last_execute_time">
                    <i class="fa fa-clock-o"></i>
                    <span id="last_execute_time_value">${last_execute_time}</span>
                </div>
            </div>
    </body>

</html>
